footer {
    height: 50px;
    display: flex;
    border-top: 1px solid rgb(214, 208, 208);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    height: 25px;
}